---
layout: default
---

<article>
  <header class="article-header | flow--normal">
    <time class="article-header--date">
      {% assign d = page.date | date: "%-d" %}
      {% case d %}
        {% when '1' or '21' or '31' %}{{ d }}st
        {% when '2' or '22' %}{{ d }}nd
        {% when '3' or '23' %}{{ d }}rd
        {% else %}{{ d }}th
      {% endcase %}
      {{ page.date | date: "%B %Y" }}
    </time>
    <h2 class="article-header--title">{{ page.title }}</h2>
  </header>

  <main class="article-body | flow | flow--normal">
    {{ content }}
  </main>

  <footer class="article-footer">
    I don't have a mailing list or anything like that yet, but follow me on
    Twitter if you want to read more:
    <a href="https://twitter.com/itrollsforthee">@itrollsforthee</a>
  </footer>
</article>
